.image-container {
    display: flex; /* Utilizza Flexbox per centrare l'immagine */
    justify-content: left; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 20px; /* Spazio sopra il contenitore */
    margin-bottom: 20px; /* Spazio sotto il contenitore */
}

.responsive-image {
    width: 500px; /* Imposta una larghezza fissa per rendere l'immagine quadrata */
    height: 300px; /* Imposta un'altezza fissa per rendere l'immagine quadrata */
    object-fit: cover; /* Ritaglia l'immagine per riempire il contenitore */
    border-radius: 10px; /* Aggiunge bordi tondi all'immagine */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); /* Ombra dell'immagine */
}

.responsive-author {
    width: 300px; /* Imposta una larghezza fissa per rendere l'immagine quadrata */
    height: 300px; /* Imposta un'altezza fissa per rendere l'immagine quadrata */
    object-fit: cover; /* Ritaglia l'immagine per riempire il contenitore */
    border-radius: 15px; /* Aggiunge bordi tondi all'immagine */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Ombra dell'immagine */
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

form {
    max-width: 420px;
    margin: 50px auto;
}

.form-input {
    color: rgb(var(--color-neutral-900));
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: rgb(var(--color-neutral-50));
    border: 2px solid rgb(var(--color-primary-400));
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.form-input:focus {
    border: 2px solid rgb(var(--color-primary-600));
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: rgb(var(--color-primary-500));
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: rgb(var(--color-neutral-50));
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: rgb(var(--color-primary-600));
}

