{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="max-w-full prose dark:prose-invert">
    <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
        <div class="mx-auto max-w-7xl p-0">
            <div class="relative shadow-xl sm:overflow-hidden rounded-2xl">
                <div class="absolute inset-0">
                    {{ $homepageImage := "" }}
                    {{ with .Site.Params.defaultBackgroundImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ with .Site.Params.homepage.homepageImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ if $homepageImage }}
                    <img class="h-full w-full object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}">
                    <div
                        class="absolute inset-0">
                    </div>
                    {{ end }}
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8 flex flex-col items-center justify-center text-center">
                    {{ with .Site.Params.Author.image }}
                        {{ $authorImage := "" }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $authorImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $authorImage = resources.Get . }}
                        {{ end }}
                        {{ if $authorImage }}
                            {{ if not $disableImageOptimization }}
                                {{ $authorImage = $authorImage.Fill (print "288x288 q" ( $.Site.Params.Author.imagequality | default "96" )) }}
                            {{ end }}
                            <img class="mb-2 rounded-full h-36 w-36" width="144" height="144"
                                alt="{{ $.Site.Params.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}" />
                        {{ end }}
                    {{ end }}
                    <h1 class="mb-2 text-4xl font-extrabold text-neutral-200">
                        {{ .Site.Params.Author.name | default .Site.Title }}
                    </h1>
                    {{ with .Site.Params.Author.headline }}
                    <h2 class="mt-0 mb-0 text-xl text-neutral-300">
                        {{ . | markdownify }}
                    </h2>
                    {{ end }}
                    <div class="mt-3 mb-10 text-2xl">
                        {{ with .Site.Params.Author.links }}
                        <div class="flex flex-wrap">
                            {{ range $links := . }}
                            {{ range $name, $url := $links }}
                            <a class="px-1 hover:text-primary-400 text-primary-300" href="{{ $url }}" target="_blank"
                                aria-label="{{ $name | title }}" rel="me noopener noreferrer">{{ partial
                                "icon.html" $name }}</a>
                            {{ end }}
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                    <section class="prose prose-invert">{{ .Content }}</section>
                </div>
            </div>
        </div>
    </div>
</article>
<section>
    {{ partial "recent-articles/main.html" . }}
</section>
<section>
  <div class="mt-8 text-lg md:text-2xl leading-relaxed text-secondary-700 dark:text-gray-300">
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
        Il progetto
    </h2>
    <p>
    Il Turno di Guardia è una vacanza formativa per ragazzi, giovani e adulti in 
    conoscere sé stessi e gli altri attraverso il gioco.
    </p>
{{ $image := resources.Get "img/gioco_di_ruolo.jpg" }}
{{ if $image }}
<div class="image-container">
    <img src="{{ $image.Permalink }}" alt="Descrizione dell'immagine" class="responsive-image" />
</div>
{{ else }}
<p>Immagine non trovata.</p>
{{ end }}
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
     Immergersi in un’avventura che fa riflettere attraverso il Gioco di Ruolo
    </h2>

    <p>
    Il Gioco di Ruolo consiste nella creazione condivisa di una storia, attraverso l’interpretazione dei personaggi che la vivono.
    </p>
    <p>
    Si tratta di un’attività fortemente cooperativa, durante la quale è fondamentale l’interazione con i compagni di party (ovvero il gruppo di giocatori che sta interpretando degli avventurieri),
    l’ascolto reciproco e il problem solving condiviso. Durante le avventure di Gioco di Ruolo, infatti, i giocatori si trovano a interpretare i loro personaggi all’interno di scene descritte dal Game Master, che pone degli ostacoli da superare attraverso l’azione coordinata del proprio avventuriero con i personaggi degli altri giocatori.
    </p>
{{ $image := resources.Get "img/cerchio.png" }}
{{ if $image }}
<div class="image-container">
    <img src="{{ $image.Permalink }}" alt="Descrizione dell'immagine" class="responsive-image" />
</div>
{{ else }}
<p>Immagine non trovata.</p>
{{ end }}
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
        Aprirsi agli altri in un clima accogliente
    </h2>
    <p>
    Il Cerchio è un potente momento formativo e trasformativo, poiché attraverso gli strumenti e le regole di comportamento che propone è possibile creare un contesto di ascolto e condivisione protetto, che fa sentire le persone che sono al suo interno a proprio agio e dunque libere di esprimersi senza paura del giudizio altrui. 
    </p>
    <p>
    Il rispetto è l’Istruzione originaria centrale: rispettare qualcuno non significa essere d’accordo con lui, ma ascoltarlo, dargli la possibilità di esprimersi. Per far sì che questo avvenga, tutti coloro che ascoltano sono invitati a porsi in modalità di ascolto attivo ed empatico, mentre chi parla è invitato a parlare sempre in prima persona e ad utilizzare la comunicazione assertiva.
    </p>
    {{ $image := resources.Get "img/condivisione.jpg" }}
{{ if $image }}
<div class="image-container">
    <img src="{{ $image.Permalink }}" alt="Descrizione dell'immagine" class="responsive-image" />
</div>
{{ else }}
<p>Immagine non trovata.</p>
{{ end }}

    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
        Convivere e condividere momenti speciali
    </h2>
    <p>
    Convivere e condividere spazi e turni di servizio (apparecchiare, lavare i piatti, tenere pulita la casa) per alcuni giorni aiuta i ragazzi a creare un gruppo coeso e cooperativo. Oltre alle attività già descritte, sono fondamentali anche passeggiate nella natura, momenti di giochi a squadre, canzoni, balli e altri momenti speciali che ci piace condividere.
    </p>
    <p>
    Le case e i rifugi che scegliamo sono in contesti isolati e immersi nella natura, gestite da persone affidabili che si prendono cura del gruppo attraverso la preparazione dei pasti e che rimangono una presenza discreta e preziosa.
    </p>
    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
  Testimonianze Turno Pre-adolescenti
</h2>
<div class="relative w-full pb-[56.25%] overflow-hidden rounded-lg mt-4">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Qrl3zh8RGeU?si=nxx3VHmOhKT6mXxv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
  Testimonianze Turno Adolescenti
</h2>
<div class="relative w-full pb-[56.25%] overflow-hidden rounded-lg mt-4">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ygdPj3jOK7Q?si=VeLy2Xwhq_pVqk_6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

    <h2 class="text-2xl font-semibold text-neutral-600 white:text-neutral-400 mt-6">
        Formatrici
    </h2>
    {{ $image := resources.Get "img/giada.jpg" }}
{{ if $image }}
<div class="image-container">
    <img src="{{ $image.Permalink }}" alt="Descrizione dell'immagine" class="responsive-author" />
</div>
{{ else }}
<p>Immagine non trovata.</p>
{{ end }}
    <p>
<a href="https://giadataribelli.com" class="text-primary-500 hover:text-primary-700"><b>Giada Taribelli</b><br>
</a>
    Pedagogista e Game Master, utilizza il gioco di ruolo come strumento formativo e divulgativo attraverso diversi progetti. 
    </p>
    {{ $image := resources.Get "img/giulia.jpg" }}
{{ if $image }}
<div class="image-container">
    <img src="{{ $image.Permalink }}" alt="Descrizione dell'immagine" class="responsive-author" />
</div>
{{ else }}
<p>Immagine non trovata.</p>
{{ end }}

<a href="https://www.giuliamisani.it" class="text-primary-500 hover:text-primary-700"><b>Giulia Misani</b><br>
</a>
        <p>
    Facilitatrice della Via del Cerchio, lavora da anni nelle scuole come formatrice, usando nella didattica role play e attività teatrali.
    </p>
  </div>
</section>
